<!DOCTYPE HTML>
<html ng-app="wafepaApp">
	<head>
		<title>WAFEPA</title>
		
		<script src="static/assets/js/angular.js"></script>
		<script src="static/assets/js/angular-route.js"></script>
		
		<script src="static/app/js/main.js"></script>
	</head>
	<body>
		<h1>WAFEPA</h1>
		
		<div ng-view>
		</div>
		
<!-- 		<div ng-controller="MyController"> -->
			
<!-- 			<h2>{{ tekst }}, {{ objekat.polje }}</h2> -->
			
<!-- 			<input type="text" ng-model="lista[0]" /> -->
			
<!-- 			<ul> -->
<!-- 				<li ng-repeat="el in lista">{{ el }}</li> -->
<!-- 			</ul> -->
			
<!-- 			<button ng-click="funkcija(5)" ng-disabled="lista[0] == 0">Click me</button> -->
<!-- 		</div> -->
		
	</body>
</html>