<h1>Home</h1>
<h2>Home</h2>
<h3>Home</h3>
<h4>Home</h4>
<h5>Home</h5>
<h6>Home</h6>

<a href="/#/activities">Activities</a>

<br/>

<form class="form">
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
	<div class="form-group">
		<label for="ime">ime:</label><input class="form-control" type="text" id="ime"/>
	</div>
</form>

<br/>
broj lajkova<span class="badge">5</span>

<br/>
<br/>
<br/>
<br/>

<button class="btn">osnovno</button>
<button class="btn btn-primary">primary</button>
<button class="btn btn-danger">danger</button>
<button class="btn btn-warning">warning</button>
<button class="btn btn-success">success</button>

<div class="btn-group">
	<button class="btn">osnovno</button>
	<button class="btn btn-primary">primary</button>
	<button class="btn btn-danger">danger</button>
	<button class="btn btn-warning">warning</button>
	<button class="btn btn-success">success</button>
</div>

<div class="jumbotron">
        <h1>Theme example</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
      </div>

<img width="100" height="100" class="img-rounded" src="/static/assets/img/a-flower-for-you.jpg" />

<img width="100" height="100" class="img-circle" src="/static/assets/img/a-flower-for-you.jpg" />

<img width="100" height="100" class="img-thumbnail" src="/static/assets/img/a-flower-for-you.jpg" />


<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>ime</th>
			<th>prezime</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Pera</td>
			<td>Peric</td>
		</tr>
		<tr>
			<td>Marko</td>
			<td>Markovic</td>
		</tr>
		<tr>
			<td>Steva</td>
			<td>Stevic</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<blockquote class="col-sm-2 blockquote">
		Lorem ipsum dolor sit amet, sea ut reque nihil repudiare. Ea euismod recusabo duo, modus noster epicuri vel no. Illum utroque in eos, vivendo singulis mea ut, in per denique perpetua. Laudem consetetur ut eam.
	</blockquote>
	<div class="col-sm-6">
		Unum postea vidisse cu has, simul petentium cum cu, eu magna habemus vis. Sea dicit homero labores eu, intellegat consequuntur te qui, vim ea maiestatis scripserit. Id ius modo prima, pro tota justo necessitatibus et. Ei ubique vivendum qui, ei molestiae concludaturque vis. Vis eu mutat aperiam pericula, te case temporibus quo, ut dicant veritus nam. Ne quo euismod argumentum.
	</div>
	<div class="col-sm-4">
		Unum postea vidisse cu has, simul petentium cum cu, eu magna habemus vis. Sea dicit homero labores eu, intellegat consequuntur te qui, vim ea maiestatis scripserit. Id ius modo prima, pro tota justo necessitatibus et. Ei ubique vivendum qui, ei molestiae concludaturque vis. Vis eu mutat aperiam pericula, te case temporibus quo, ut dicant veritus nam. Ne quo euismod argumentum.
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		Lorem ipsum dolor sit amet, sea ut reque nihil repudiare. Ea euismod recusabo duo, modus noster epicuri vel no. Illum utroque in eos, vivendo singulis mea ut, in per denique perpetua. Laudem consetetur ut eam.
	</div>
	<div class="col-sm-6">
		Unum postea vidisse cu has, simul petentium cum cu, eu magna habemus vis. Sea dicit homero labores eu, intellegat consequuntur te qui, vim ea maiestatis scripserit. Id ius modo prima, pro tota justo necessitatibus et. Ei ubique vivendum qui, ei molestiae concludaturque vis. Vis eu mutat aperiam pericula, te case temporibus quo, ut dicant veritus nam. Ne quo euismod argumentum.
	</div>
	<div class="col-sm-3">
		Unum postea vidisse cu has, simul petentium cum cu, eu magna habemus vis. Sea dicit homero labores eu, intellegat consequuntur te qui, vim ea maiestatis scripserit. Id ius modo prima, pro tota justo necessitatibus et. Ei ubique vivendum qui, ei molestiae concludaturque vis. Vis eu mutat aperiam pericula, te case temporibus quo, ut dicant veritus nam. Ne quo euismod argumentum.
	</div>
</div>
<div class="row">
	<ul>
		<li class="bg-muted">
			Ovo je neki tekst!!!
		</li>
		<li class="bg-primary">
			Ovo je neki tekst!!!
		</li>
		<li class="bg-warning">
			Ovo je neki tekst!!!
		</li>
		<li class="bg-success">
			Ovo je neki tekst!!!
		</li>
		<li class="bg-danger">
			Ovo je neki tekst!!!
		</li>
	</ul>
</div>