<html>
	<head>
		<script src="/static/assets/js/angular.js"></script>
		<script src="/static/assets/js/angular-route.js"></script>
		<script src="/static/app/js/main.js"></script>
		<title>INDEKS</title>
	</head>
	<body>
		<div ng-app="wafepaApp">
			<h1>indeks</h1>
			<ng-view></ng-view>
<!-- 			<div ng-controller="myCtrl">
				ime u $scope je: {{osoba.ime}}<br/>
				prezime u $scope je: {{osoba.prezime}}<br/>
				<input ng-model="osoba.prezime"></input><br/>
				<input ng-model="osoba.ime"></input><br/>
				<button ng-click="predstaviSe()">predstavi se</button>
			</div>
 -->
 		</div>
	</body>
</html>